.customizedPaneButton {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.customizedDecoratedButton {
    -fx-background-color: #3f4152;
    -fx-text-fill: white;
    -fx-border-color: #676980;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.customizedTestButton {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-family: Futura;
    -fx-font-weight: bold;
}

.customizedDecoratedButton:hover{
    -fx-background-color: derive( #3f4152 , 20% );
}

.text {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: Futura;
}

.gazeOn {
    -fx-font-weight: bold;
    -fx-text-fill: green;
    -fx-font-family: Futura;
}

.gazeOff {
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-font-family: Futura;
}

.selected{
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.green{
    -fx-background-color: #40911b;
}

.green:hover{
    -fx-background-color: derive( #40911b, 20% );
}

.grey{
    -fx-background-color: #6c6c6c;
}

.grey:hover {
    -fx-background-color: derive( #6c6c6c, 20% );
}

.orange{
    -fx-background-color: #ff8a31;
}

.orange:hover{
    -fx-background-color: derive( #ff8a31, 20% );
}

.red{
    -fx-background-color: crimson;
}

.red:hover{
    -fx-background-color: derive(crimson, 20%);
}

.blue{
    -fx-background-color: #0e4978;
}

.blue:hover {
    -fx-background-color: derive( #0e4978 , 20% );
}
