.customizedButton {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.topBarButton {
    -fx-background-color: #3f4152;
    -fx-text-fill: white;
    -fx-border-color: #676980;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.topBarButton:hover{
    -fx-background-color: derive( #3f4152 , 20% );
}

.text {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: Futura;
}

.selected{
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.green{
    -fx-background-color: #57ae3a;
}
