.customizedPaneButton {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.customizedDecoratedButton {
    -fx-background-color: #3f4152;
    -fx-text-fill: white;
    -fx-border-color: #676980;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.customizedTestButton {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-family: Futura;
    -fx-font-weight: bold;
}

.customizedDecoratedButton:hover{
    -fx-background-color: derive( #3f4152 , 20% );
}

.text {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: Futura;
}

.selected{
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.green{
    -fx-background-color: #57ae3a;
}

.green:hover{
    -fx-background-color: derive( #57ae3a, 20% );
}

.grey{
    -fx-background-color: #969696;
}

.grey:hover {
    -fx-background-color: derive( #969696 , 20% );
}
